body {
	background-color:  rgb(9, 22, 75);
}

.presidential-seal {
	border: none;
    margin: 1em;
    margin-left: 3em;
}

.header {
	color:  #DFC201;
	margin: 1em;
	text-align: center;
	text-decoration: underline;
}


.flag {
	border: none;
	margin: 2em;
	margin-left: -3em;
}

img {
    vertical-align: middle;
    border: .5em solid  #DFC201;
    width: 100%;
}

.figcaption {
    font-size: .8em;
    margin: .8em;
    color: #DFC201;
}

a {
	float: right;
	color: white;
}
